﻿@model TotalSalary.Models.TotalSalaryModel

@if (Model.ErrorMessage != null)
{
    <div id="totalSalary">
        Error. @Model.ErrorMessage
    </div>
}
else
{
    <div id="totalSalary">
        Total Salary: @Model.TotalSalary
    </div>
}