﻿<!DOCTYPE html>
<head>
    @model TotalSalary.Models.TotalSalaryModel
    <title>Total Salary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=@Url.Content("~/Content/bootstrap.min.css")>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <h2>Enter the data please</h2>
        @using (Ajax.BeginForm("ConsiderTotalSalary", new AjaxOptions { UpdateTargetId = "result" }))
            {
            <div class="form-group">
                <label class="control-label col-sm-2" for="EmployeeName">Employee Name:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(t => t.EmployeeName, new { Class = "form-control", placeholder = "Example: John Smith", required = "" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="AnnualSalary">Annual Salary:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(t => t.AnnualSalary, new { Class = "form-control", placeholder = "Example: 140000", required = "" })
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Years">Employee Years in the company:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(t => t.Years, new { Class = "form-control", placeholder = "Example: 3,5", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <div id="result"></div>
                    </div>
                </div>
        }
    </div>

</body>